@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');
@import 'include-media.scss', 'search-room.scss', 'video-room.scss';

:root {
  --primary-color: rgb(0, 140, 255);
  --success-color: rgb(108, 180, 0);
  --error-color: rgb(230, 80, 80);
  --disabled-color: rgb(139, 139, 139);
}

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #1f1f1f;

  * {
    box-sizing: border-box;
  }

  @media (prefers-reduced-motion: reduce) {
    * {
      transition: 0s !important;
    }
  }
}
