.room {
  inline-size: 100%;
  block-size: 100vh;
  display: flex;
  align-items: flex-start;

  &__disconnect {
    @include button;
    background-color: var(--error-color);
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.empty {
  flex: 4;
  display: flex;
  block-size: 100%;
  justify-content: center;
  align-items: center;

  &__message {
    color: whitesmoke;
    padding: 1em;
  }
}

.peers {
  flex: 4;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include media('screen', '<tablet') {
    writing-mode: vertical-lr;
    inline-size: 100vw;
  }

  &__video {
    flex: none;
    border: 2px solid black;
    object-fit: cover;
    block-size: auto;
  }
}

.user {
  flex: 1;
  block-size: 100%;
  display: flex;
  flex-direction: column;

  @include media('screen', '<tablet') {
    flex: 0;
  }

  &__video {
    object-fit: cover;
    border: 2px solid black;
    inline-size: 100%;

    @include media('screen', '<tablet') {
      position: fixed;
      top: 1rem;
      right: 1rem;
      inline-size: 30%;
    }
  }
}

.chat {
  flex: 1;
  background-color: #2d2d2d;
  border-color: #5d5d5d;
  display: flex;
  inline-size: 100%;
  block-size: 100%;
  flex-direction: column-reverse;
  overflow: hidden auto;

  &__message {
    background-color: #8d8d8d;
    color: white;
    margin: 0.3rem 0.5rem;
    padding: 0.5rem;
    font-size: 0.8rem;
    border-radius: 4px;
  }
}
