.room {
  inline-size: 100%;
  block-size: 100vh;
  display: flex;
  align-items: flex-start;

  &__disconnect {
    @include button;
    background-color: var(--error-color);
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.empty {
  flex: 4;
  display: flex;
  block-size: 100%;
  justify-content: center;
  align-items: center;

  &__message {
    color: whitesmoke;
    padding: 1em;
  }
}

.peers {
  flex: 4;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  @include media('screen', '<tablet') {
    writing-mode: vertical-lr;
    inline-size: 100vw;
  }

  &__video {
    flex: none;
    border: 2px solid black;
    object-fit: cover;
    block-size: auto;
  }
}

.user {
  flex: 1;
  block-size: 100%;
  display: flex;
  flex-direction: column;

  @include media('screen', '<tablet') {
    flex: 0;
  }

  &__video {
    object-fit: cover;
    border: 2px solid black;
    inline-size: 100%;

    @include media('screen', '<tablet') {
      position: fixed;
      top: 1rem;
      right: 1rem;
      inline-size: 30%;
    }
  }
}

.chat {
  flex: 1;
  background-color: #2d2d2d;
  border-color: #5d5d5d;
  display: flex;
  inline-size: 100%;
  block-size: 100%;
  flex-direction: column-reverse;
  overflow: hidden auto;

  &__form {
    min-block-size: 3rem;
    display: flex;
    @include media('screen', '<tablet') {
      inline-size: 0;
    }
  }

  &__input {
    background-color: #4a4a4a;
    color: white;
    padding: 0 1em;
    border: none;
    block-size: 100%;
    flex: 1;
  }

  &__button {
    color: whitesmoke;
    padding-inline-end: 0.5rem;
    border: none;
    background-color: #4a4a4a;
  }
}

.message {
  background-color: #8d8d8d;
  color: white;
  margin: 0.3rem 0.5rem;
  padding: 0.5rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);


  &--user {
    background-color: #6d6d6d;
    align-items: flex-end;
  }

  &__sender {
    font-size: 0.7rem;
    margin: 0;
    margin-block-end: 0.4rem;
  }

  &__text {
    font-size: 0.8rem;
    margin: 0;
  }
}
